body {
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiperDetail {
  height: 70%;
  width: 100%;
}

.swiperDetail2 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
}

.swiperDetail2 .swiper-slide {
  opacity: 0.4;
}

.swiperDetail2 .swiper-slide-thumb-active {
  opacity: 1;
}

/* .swiper-slide { */
/* Center slide text vertically */
/* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
} */

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .swiper-button-prev {
  margin-left: 20px;
  right: auto;
}

.swiper-button-next {
  margin-right: 20px;
  right: auto;
} */

.cat-bg-wrap {
  background-image: url('../images/background/produk.png');
  background-size: 100% 60%;
  background-repeat: no-repeat;
}

.brand-bg-wrap {
  background-image: url('../images/background/brand.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 460px) {
  .cat-bg-wrap {
    background-size: 100% 60%;
  }
  .brand-bg-wrap {
    background-size: 100% 100%;
  }
}

.round-brand:hover {
  border: 4px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    conic-gradient(
        #25258c 0deg,
        #25258c 90deg,
        #ff4200 90deg,
        #ff4200 270deg,
        #00a9ea 270deg,
        #00a9ea 360deg
      )
      border-box;
}

.line-brand {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
    to right,
    #ff4200 50.33%,
    #25258c 50.33%,
    #25258c 80.66%,
    #00a9ea 66.66%
  );
  border-image-slice: 1;
}

.label-product {
  left: 0px;
  background: rgb(225, 170, 29);
  color: white;
  font-weight: bold;
  border-radius: 0px 15px 15px 0px;
}

.isViral {
  background-image: url('../images/background/badge-orange.png');
  background-size: 100%;
}

.bestSeller {
  background-image: url('../images/background/badge-navy.png');
  background-size: 100%;
}

.viral-bg-wrap {
  background-image: url('../images/background/viral.png');
  background-size: 100% 70%;
  background-repeat: no-repeat;
}

.snack-bg-wrap {
  background-image: url('../images/background/snack.png');
  background-size: 100% 70%;
  background-repeat: no-repeat;
}

.ct-bg-wrap {
  background-image: url('../images/background/ct.png');
  background-size: 100% 70%;
  background-repeat: no-repeat;
}

.recommend-bg-wrap {
  background-image: url('../images/background/recommend.png');
  background-size: 100% 70%;
  background-repeat: no-repeat;
}

.bg-navy {
  background-image: url('../images/background/badge-navy.png');
  background-size: 100%;
}

.bg-orange {
  background-image: url('../images/background/badge-orange.png');
  background-size: 100%;
}

.btn:hover {
  border: 2px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    conic-gradient(
        from 81deg,
        #ff4200 0deg,
        #ff4200 198deg,
        #25258c 199deg,
        #25258c 350deg,
        #00a9ea 351deg,
        #00a9ea 360deg
      )
      border-box;
}

.masuk-btn:hover {
  border: 3px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    conic-gradient(
        from 81deg,
        #ff4200 0deg,
        #ff4200 198deg,
        #25258c 199deg,
        #25258c 350deg,
        #00a9ea 351deg,
        #00a9ea 360deg
      )
      border-box;
}

.product:hover .title-product {
  border: 2px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    conic-gradient(
        from 81deg,
        #ff4200 0deg,
        #ff4200 198deg,
        #25258c 199deg,
        #25258c 350deg,
        #00a9ea 351deg,
        #00a9ea 360deg
      )
      border-box;
  transform: scale(1.1);
}

.banner-btn {
  position: absolute;
  height: 25%;
  left: 3%;
  bottom: 3%;
  padding: 0;
  z-index: 1;
  width: 27%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b3b3b3;
  text-align: center;
  border: 0;
  background-color: transparent;
}

.banner-btn:hover {
  border: 3px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    conic-gradient(
        from 81deg,
        #ff4200 0deg,
        #ff4200 198deg,
        #25258c 199deg,
        #25258c 350deg,
        #00a9ea 351deg,
        #00a9ea 360deg
      )
      border-box;
}

.inbox-hover:hover {
  content: url('../images/icons/inbox/inbox-on.svg');
}

.notif-hover:hover {
  content: url('../images/icons/notif/lonceng-on.svg');
}

.cart-hover:hover {
  content: url('../images/icons/cart/cart-on.svg');
}

.wishlist-hover:hover {
  content: url('../images/icons/wishlist/wishlist-on.svg');
}

.kitchen {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
    to right,
    #ff4200 50.33%,
    #25258c 50.33%,
    #25258c 80.66%,
    #00a9ea 66.66%
  );
  border-image-slice: 1;
}

.kitchen-content {
  position: relative;
  width: 100%;
  border: 1px solid #ddd;
}

.kitchen-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  font-size: 27px;
}

.handicraft {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
    to right,
    #ff4200 50.33%,
    #25258c 50.33%,
    #25258c 80.66%,
    #00a9ea 66.66%
  );
  border-image-slice: 1;
}

.handicraft-content {
  position: relative;
  width: 100%;
  border: 1px solid #ddd;
}

.kitchen-btn:hover {
  border: 3px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    conic-gradient(
        from 81deg,
        #ff4200 0deg,
        #ff4200 198deg,
        #25258c 199deg,
        #25258c 350deg,
        #00a9ea 351deg,
        #00a9ea 360deg
      )
      border-box;
}

.season {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
    to right,
    #ff4200 50.33%,
    #25258c 50.33%,
    #25258c 80.66%,
    #00a9ea 66.66%
  );
  border-image-slice: 1;
}

.search-input:hover {
  border: 2px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    conic-gradient(
        from 90deg,
        #ff4200 180deg,
        #25258c 0deg,
        #25258c 352deg,
        #00a9ea 248deg
      )
      border-box;
}

.search-input:focus {
  border: 2px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    conic-gradient(
        from 90deg,
        #ff4200 180deg,
        #25258c 0deg,
        #25258c 352deg,
        #00a9ea 248deg
      )
      border-box;
}
.input:hover {
  border: 2px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    conic-gradient(
        from 90deg,
        #ff4200 180deg,
        #25258c 0deg,
        #25258c 352deg,
        #00a9ea 248deg
      )
      border-box;
}

.input:focus {
  border: 2px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    conic-gradient(
        from 90deg,
        #ff4200 180deg,
        #25258c 0deg,
        #25258c 352deg,
        #00a9ea 248deg
      )
      border-box;
}

.reels {
  background-color: #eaeaea;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.reels-section {
  width: 22%;
  height: 100%;
  animation: 2s ease 0s 1 normal forwards running reelsAnimationOut;
}

.reels .reels-section {
  background-color: #ff4200;
  color: white;
  margin: 0;
  border-radius: 5px;
}

.reels-card {
  width: 78%;
  position: absolute;
  left: 22%;
  bottom: 8%;
}

.card-review {
  transition: 0.4s ease all;
}

.card-review:hover {
  transform: scale(1.1);
  border: 2px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    conic-gradient(
        from 81deg,
        #ff4200 0deg,
        #ff4200 198deg,
        #25258c 199deg,
        #25258c 350deg,
        #00a9ea 351deg,
        #00a9ea 360deg
      )
      border-box;
}

.testi-swiper {
  background: linear-gradient(to bottom, #ccc, #eaeaea);
}

.btn-slide {
  border: 2px solid #ebe1e1;
  border-radius: 8px;
  padding: 18px 20px;
  font-size: 15px;
  letter-spacing: 1px;
  box-shadow: inset 0 0 0 0 #ffffffc3;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide-right:hover {
  box-shadow: inset 550px 0 0 0 #ffffff70;
}

.dash {
  width: 30%;
}

.dash line {
  stroke: #454545;
  stroke-dasharray: 0;
  stroke-linecap: round;
}

.eyeshow {
  background-image: url('../images/icons/eye/eyeshow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.eyehide {
  background-image: url('../images/icons/eye/eyehide.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.field-icon {
  position: relative;
  float: right;
  margin-top: -48px;
  margin-right: 20px;
  z-index: 5;
}

.wrap-breadcrumb ul li:not(:last-child)::after {
  content: '>';
  color: #222222;
  padding-left: 5px;
  padding-right: 5px;
}

.wrap-breadcrumb ul a {
  color: #ff4200;
  text-decoration: none;
}

.wrap-breadcrumb ul {
  font-size: 16px;
}

.dropdown-category {
  font-size: 16px;
  font-weight: 700;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #000;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.hover-map:hover {
  fill: #ff4200;
}

.hover-map:hover path {
  fill: #ff4200;
}

.btn-reduce {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 50%;
}

.btn-increase {
  display: flex;
  padding: 0px 7px;
  border: 1px solid gray;
  border-radius: 50%;
}

.btn-reduce:hover {
  border-color: transparent;
  background: #ff4200;
  color: white;
}

.reply {
  background-color: rgba(0, 0, 0, 0.05);
}
